
.avatar-circular {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}


.md-button--large {
    font-size: 1.1em;
    padding: 0.8em 1.5em;
    min-width: 150px;
    width: 100%;
    box-sizing: border-box;
    text-align: center; /* Centraliza o texto */
    display: block; /* Garante que o botão ocupe toda a largura */
}
